.landing-title {
  display: flex;
  flex-direction: row;
  display: block;
  background-color: rgb(243 200 124);
  text-align: center;
  margin-top: 0;
  box-shadow: 0px 10px 10px rgb(255 182 52);
}

.counter {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 50px;
  top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: x-large;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: rgb(254 248 229);
  box-shadow: 0px 10px 10px rgb(102, 95, 73) ;
}

.footer {
  display: flex;
  flex-direction: row;
  display: block;
  background-color: rgb(243 200 124);
  text-align: center;
  padding: 1em;
}

.assign-driver-form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 2em;
  
}

.assign-driver-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(254 248 229);
  padding: 2em;
  border-radius: 25px;
}

.select-driver{
  margin-right: 3em;
  width: 8em;
  height: 3em;
}

.listOnLandingPage{
  display: flex;
  width: 70em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: translate(9.5em, 0em);
}

.listOfPlacesToVisit{
  margin-right: 1em;
  width: 50%;
  background-color: rgb(255, 80, 80);
  box-shadow: 0px 10px 10px rgb(122, 20, 20);
  padding: 1em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.listOfPlacesToVisit ul li{
  margin-bottom: 1em;
}

.listOfVisitedPlaces{
  margin-left: 1em;
  width: 50%;
  background-color: rgb(103, 251, 143);
  box-shadow: 0px 10px 10px rgb(3, 144, 41);
  padding: 1em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  
}


.listOfVisitedPlaces ul li{
  margin-bottom: 1em;
}

.generate-btn-container{
    width: 100vw;
    height: 77.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}