.login-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    align-items: center;
    width: 100vw;
    height: 77.5vh;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.username-login{
    margin-bottom: 1em;
   
}

.name-input{
    font-size: large;
}

.login-button{
    display: flex;
    justify-content: center;
    font-size: large;
    align-items: center;
    width: 6em;
    border: none;
    border-radius: 10px; 
    background-color: rgb(106, 138, 255);
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: large;
    color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }