.leaflet-container {
    height: 80vh;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 8em;
    margin-bottom: 5em;
    
}

.map{
box-shadow: 0px 10px 10px rgb(102, 95, 73) ;
border-radius: 30px;
}


.cluster-icon {
    background-color: #333;
    height: 2em;
    width: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 5px #fff;
}

