.leaflet-container {
    height: 100vh;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 3em;
    margin-bottom: 5em;
}


.cluster-icon {
    background-color: #333;
    height: 2em;
    width: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 5px #fff;
}

