.leaflet-container {
    height: 80vh;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 5em;
}

.cluster-icon {
    background-color: #333;
    height: 2em;
    width: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 5px #fff;
  }
  