.leaflet-container {
    height: 80vh;
    margin-left: 20em;
    margin-right: 10em;
    margin-top: 6em;
    margin-bottom: 8em;
}


.cluster-icon {
    background-color: #333;
    height: 2em;
    width: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 5px #fff;
}
  
.something{
    color: rgb(255, 0, 0);
}